#jinja2: trim_blocks: True, lstrip_blocks: True

services:
  jellyfin:
    {% if jellyfin_docker_cap_add | length > 0 %}
    cap_add:
      {% for capability in jellyfin_docker_cap_add %}
      - {{ capability }}
      {% endfor %}
    {% endif %}
    {% if jellyfin_docker_cap_drop | length > 0 %}
    cap_drop:
      {% for capability in jellyfin_docker_cap_drop %}
      - {{ capability }}
      {% endfor %}
    {% endif %}
    container_name: {{ jellyfin_docker_container_name }}
    {% if jellyfin_docker_depends_on | length > 0 %}
    depends_on:
      {% for dep in jellyfin_docker_depends_on %}
      - {{ dep }}
      {% endfor %}
    {% endif %}
    {% if jellyfin_docker_devices %}
    devices:
      {% for device in jellyfin_docker_devices %}
      - {{ device }}
      {% endfor %}
    {% endif %}
    environment:
      PUID: "{{ jellyfin_docker_env_puid }}"
      PGID: "{{ jellyfin_docker_env_pgid }}"
      TZ: "{{ jellyfin_docker_env_timezone }}"
      {% if jellyfin_docker_env_published_server_url %}
      JELLYFIN_PublishedServerUrl: "{{ jellyfin_docker_env_published_server_url }}"
      {% endif %}
      {% if jellyfin_docker_extra_environment_vars | length > 0 %}
      {% for env, value in jellyfin_docker_extra_environment_vars.items() %}
      {{ env }}: "{{ value }}"
      {% endfor %}
      {% endif %}
    image: {{ jellyfin_docker_image }}:{{ jellyfin_docker_image_tag }}
    {% if jellyfin_docker_labels | length > 0 %}
    labels:
      {% for label, value in jellyfin_docker_labels.items() %}
      {{ label }}: "{{ value }}"
      {% endfor %}
    {% endif %}
    {% if jellyfin_docker_external_networks | length > 0 and not (jellyfin_docker_network_mode | default('')) %}
    networks:
      {% for net in jellyfin_docker_external_networks %}
      - {{ net }}
      {% endfor %}
    {% elif jellyfin_docker_network_mode %}
    network_mode: {{ jellyfin_docker_network_mode | default('host') }}
    {% endif %}
    {% if jellyfin_docker_ports | length > 0 and not (jellyfin_docker_network_mode | default('')) %}
    ports:
      {% for port in jellyfin_docker_ports %}
      - {{ port }}
      {% endfor %}
    {% endif %}
    pull_policy: {{ jellyfin_docker_pull_policy }}
    restart: {{ jellyfin_docker_restart_policy }}
    volumes:
      - {{ jellyfin_docker_base_directory }}/config:/config
      {% if jellyfin_docker_media_volumes | length > 0 %}
      {% for vol in jellyfin_docker_media_volumes %}
      - {{ vol }}
      {% endfor %}
      {% endif %}
{% if jellyfin_docker_external_networks | length > 0 and not (jellyfin_docker_network_mode | default('')) %}

networks:
  {% for net in jellyfin_docker_external_networks %}
  {{ net }}:
    external: true
  {% endfor %}
{% endif %}